{{> elements/header}}
<div class="well well-lg">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2 class="panel-title">Job Title: {{contents.name}}</h2>
        </div>
        <div class="panel-body">
            <h4>Posted By: <a href="/users/{{contents.Client.username}}/profile">{{contents.Client.username}}</a></h4>
            <h4>Email: {{contents.Client.email}}</h4>
            <h4>Contact Number: {{contents.Client.contact}}</h4>
            <h4>Description: {{contents.description}}</h4>
            {{#unless contents.taken}}
            <h5 class="text-warning">Still Available</h5>
            {{/unless}}
            {{#if contents.taken}}
            <h5 class="text-danger">Not Longer Available</h5>
            {{/if}}
        </div>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
        <div class="well bs-component">
            <form class="form-horizontal" action="/jobs/{{contents.id}}" method="POST"> 
            <fieldset>
                <legend>Make a bid </legend>
                <div class="form-group">
                <label for="amount" class="control-label">Amount</label>
                    <input type="number" class="form-control" id="amount" placeholder="Enter your amount" autocomplete="off" name="amount">
                    <input type="hidden" id = "client" name="client" value="">
                    <input type="hidden" name="owner" value="{{contents.Client.username}}">
                </div>
                    <button type="submit" class="btn btn-success">Place Bid</button>
            </fieldset>
            </form>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
        {{#each contents.Bids}}
        <h3>Bidder Id: {{this.ClientId}}</h3>
        <h4>Bid amount: {{this.bid}}</h4>
        <hr>
        {{/each}}